@use "../foundation/variable" as v;
@use "../foundation/mixin" as m;


.l-top-concept {

  h2 {

    font-size: 18px;
    background-color: v.$bg-orange;
    display: inline-block;
  }

}

.l-main__mv{
  position: relative;
  height: 100vh;
  // overflow-x: hidden;
}
/* ---------------------------------------------------
 * コンセプト
/* ---------------------------------------------------*/

.p-top-concept {

  margin-top: 100px;

  h2 {
    background-color: v.$bg-orange;
    display: inline-block;
    color: white;
    padding: 5px 20px;
    border-radius: 0px 30px 30px 0;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    @include m.mq(sp){
      display: block;


    }
  }

  &__left {
    width: 50%;

    @include m.mq(sp){
       width: 100%;
    }

    ul {
      margin-top: 40px;

      li {
        margin-top: 10px;
      }
    }
  }

  &__text {
    font-size: 4rem;
    font-weight: bold;
    line-height: 5rem;
    letter-spacing: 9px;

    @include m.mq(sp){
       font-size: 3rem;
       letter-spacing: 3px;
    }
  }

  &__right {
    width: 50%;

    @include m.mq(sp){
       width: 100%;
       margin-top: 10px;
    }

    img {
      border-radius: 30px;
    }
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    width: calc(100% - 5px);

    img {
      width: 50%;

      &:first-child {
        margin-right: 5px;
      }
    }

  }




}


/* ---------------------------------------------------
 * サービス一覧
/* ---------------------------------------------------*/


.p-top-service {
  margin-top: 100px;
  background-color: v.$bg-beige;
  padding: 100px 0;

  @include m.mq(sp){

    margin-top: 50px;
    padding: 50px 0 ;
  }


  &__titleWrapper {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 6.5rem;
    font-weight: bold;

    span {
      display: block;
      margin: 0 auto;
      text-align: center;
      font-size: 1rem;
      color: v.$bg-blue;

    }
  }


  &__line {}
}


.p-top-service {

  &__wrapper {
    margin-top: 50px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-gap: 25px;

    @include m.mq(sp){
      grid-template-columns: none;

    }
  }

  &__item {
    text-align: center;
    background-color: white;
    padding-bottom: 30px;
    margin-top: 30px;
    border-bottom: 8px solid v.$bg-blue;
    border-radius: 30px;
    width: 90%;
    margin: 0 auto;

    @include m.mq(sp){
       width: 100%;
    }

    &:nth-child(2n) {
      border-bottom: 8px solid v.$bg-green;

    }

    &-img {
      height: 300px;
      overflow: hidden;
      border-radius: 30px 30px 0 0;

      &:hover {


        img {
          transform: scale(1.1);
          border-radius: 10px 10px 0 0;
          /* 拡大 */
        }
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: transform .6s ease;
        border-radius: 10px 10px 0 0;


      }
    }


    h3 {
      margin-top: 20px;
    }

    p {
      margin-top: 15px;
    }

    a {
      // margin-top: 20px;
      display: block;

      &:hover {


        img {
          transform: scale(1.1);
          border-radius: 10px 10px 0 0;
          /* 拡大 */
        }
      }
    }
  }

}

/* ---------------------------------------------------
 * ピックップ
/* ---------------------------------------------------*/

.p-top-pickup {

  background-color: #4cc1f4;
  padding: 100px 0;


  &__wrapper {
    border-radius: 20px;
    background-image: url(../img/rental01.jpg);
    background-size: cover;
    background-position: center center;
    border: 6px dashed yellow;

    padding: 100px;

    @include m.mq(sp){

      padding: 10px;
    }

    p {
      width: 40%;
      font-size: 3rem;
      color: white;
    }

    a {
      background-color: white;
      padding: 20px;
      border-radius: 30px;
      display: inline-block;
      margin-top: 50px;

      @include m.mq(sp){
         width: 100%;
         text-align: center;
      }
    }
  }

}


/* ---------------------------------------------------
 * NEWS
/* ---------------------------------------------------*/


.p-top-news {
  margin-top: 100px;

  h3 {
    text-align: center;
    margin: 0 auto;
    font-size: 6.5rem;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    @include m.mq(sp){
       display: block;
    }
  }

  &__left {
    width: 60%;
    margin-right: 20px;

    @include m.mq(sp){
       width: 100%;
       margin-right: 0;
       margin-bottom: 10px;
    }

    ul {
      border-top: 1px solid v.$bg-beige;
    }
  }

  &__right {
    width: 40%;
    height: 100%;

    @include m.mq(sp){
       width: 100%;
    }
  }

  &__item {
    padding: 20px 10px;

    &:nth-child(2n) {
      background-color: v.$bg-beige;
    }

    a{
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  &__youtube {

    iframe {
      width: 100%;
    }
  }
}

/* ---------------------------------------------------
 * Partner
/* ---------------------------------------------------*/

.p-top-partnership {
  margin-top: 120px;

  @include m.mq(sp){
     margin-top: 30px;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;


    img {
      width: 20%;
      margin-right: 20px;
      height: 100%;

      &:last-child {
        margin-right: 0;
      }
    }
  }

}

/* ---------------------------------------------------
 * マップ
/* ---------------------------------------------------*/
.p-top-map {
background-color: v.$bg-beige;
}

.bg-fixed{
  background-image: url(../img/mv-slide2.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 50vh;
  width: 100%;

  @include m.mq(sp){
     background-position: center center;
  }

}

.bg-fixed.mt-100{
  margin-top: 100px;

  @include m.mq(sp){
     margin-top: 50px;
  }
}

.p-top-map__wrapper {

  display: flex;
  justify-content: space-between;

  @include m.mq(sp){
     display: block;
     padding-bottom: 30px;
  }
}

.p-top-map {



  &__info {
    width: 50%;
    background-color: #faf5e1;
    padding: 50px 50px 50px 20px;

    @include m.mq(sp){
       width: 100%
    }

    h3 {
      font-size: 2em;
    }
  }

  &__google-map {
    width: 50%;

    @include m.mq(sp){
       width: 100%;
    }

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  &__detail {
    font-size: 1.5em;
    margin-top: 20px;
  }

  &__address {
    font-size: 1.7em;
    margin-top: 30px;
  }

  &__tel {
    font-size: 1.5em;
    margin-top: 20px;
  }

  &__time {
    font-size: 1.5em;
    margin-top: 20px;
  }
}