@use "./../../foundation/variable" as v;
@use "../../foundation/mixin" as m;



.pickup{
  background-color: #4cc1f4;
  padding: 100px 0;
}


.p-top-pickup__wrapper{
  border-radius: 20px;
  background-image: url(../IMG/header_img.jpg);
  background-size: cover;
  background-position: center center;

  padding: 100px;

  p{
    width: 40%;
    font-size: 3em;
    color: white;
  }

  a{
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    display: inline-block;
    margin-top: 50px;
  }
}