@use "./../../foundation/variable" as v;
@use "../../foundation/mixin" as m;

.service{
  background-color: #faf5e1;
  padding-bottom: 200px;
}

.p-service {


  &__grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-gap:15px
  }


&__item{
  background-color: #fff;
  text-align: center;
  padding-bottom: 20px;


  h3{
    margin-top: 20px;
  }

  p{
    margin-top: 15px;
  }

  a{
    margin-top: 15px;
    display: block;
  }
}

}