@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;

.c-point {

  margin-top: 130px;

  &__title {
    font-size: 2.5rem;
    text-align: center;

    @include m.mq(sp){
       font-size: 2.2rem;
    }
  }

  &__item {
    margin-top: 60px;

    ul {

      display: flex;
      justify-content: space-between;

      @include m.mq(sp){
         display: block;
      }
    }


  }

  &__item_list {
    border-bottom: 4px solid #67dbce;
    padding-bottom: 30px;
    margin-right: 25px;
    width: 30%;

    @include m.mq(sp){
       width: 100%;
       margin-top: 50px;
       margin-right: 0;
    }

    img{
      border-radius: 30px;
      margin-top: 15px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__item_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include m.mq(sp){
       justify-content: flex-start;
    }
  }

    &__item-num{
      position: relative;
      border: 2px solid v.$bg-green;
      border-radius: 50%;
      width: 25%;
      padding-top: 25%;
      font-weight: bold;
      font-style: oblique;


      @include m.mq(sp){
         width: 18%;
         padding-top: 18%;
         margin-right: 10px;
      }

      p{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

      }
      span{
        display: block;
        text-align: center;
        font-size: 28px;
        margin-top: -6px;

        @include m.mq(sp){
           font-size: 18px;
        }
      }
    }



  &__item_title {
    width: 70%;
    font-weight: bold;
    // margin-top: 20px;
    font-size: 1.6rem;

    @include m.mq(sp){
        font-size: 2rem;
    }
  }

  &__item_text {
    margin-top: 30px;
    font-size: 1.2rem;
    line-height: 2rem;

    @include m.mq(sp){
       margin-top: 20px;
       font-size: 1.5rem;
    }
  }


}