@use "../../foundation/mixin" as m;

.c-section{


  &__title-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &__title{
    text-align: center;
    h2{
      font-size: 3em;
    }

    span{
      font-size: 1.5em;
    }
  }

  &__title-line{
background-color: gray;
height: 3px;
width: 40%;

  }

  &__sub-title{
    background-color: #63cbbf;
    padding: 30px;
  }

  &__mv-img{
    margin-top: 50px;
    position: relative;
    height: 500px;

    img{
      height: 100%;
      object-fit: cover;
      width: 100%;
    }

    p{
      position: absolute;
      top: 50%;
      left: 0;
      font-size: 2em;
      padding: 20px;
    }
  }

}
