@use "../../foundation/mixin" as m;


.c {



  &-tel {

    margin-top: 300px;
    margin-bottom: 500px;


    h3 {
      position: relative;
      top: -80px;
      font-size: 1.2em;
      background-color: #66dbce;
      display: inline-block;
      padding: 5px;
    }
  }

  &-tel__content {
    border-radius: 999px;
    background-color: #e1f8f5;
    text-align: center;
    padding: 60px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border: 3px solid #66dbce;

  }

  &-tel__text {
    font-size: 2em;
  }

  &-tel__number {
    font-size: 1.5em;

    span {
      font-size: 3em;
    }
  }
}